@font-face {
  font-family: "Aleo";
  src: url("./fonts/aleo/Aleo-Regular.ttf") format("truetype"); }
* {
  margin: 0px;
  padding: 0px; }

.header {
  background-image: url("./img/Image1.png");
  height: 741px;
  background-position: center;
  background-position-y: 0; }

.header__conteiner {
  position: relative;
  margin: 0 auto;
  text-align: center;
  top: 100px; }

.header__title {
  font-size: 48px;
  height: auto;
  width: auto;
  letter-spacing: 3px;
  line-height: 26px;
  font-family: "Josefin Sans";
  color: #ffffff;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0px; }

.header__text {
  height: 50px;
  font-size: 22px;
  letter-spacing: 5px;
  line-height: 26px;
  font-family: "Josefin Sans";
  color: #ffffff;
  margin-bottom: 23px; }

.header__form {
  position: relative;
  width: 40%;
  height: 50px;
  margin: 0 auto;
  font-size: 36px;
  margin-bottom: 116px; }

.form__input:focus {
  border: 1px solid green; }

.form {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40px;
  margin-bottom: 150px; }

.form__input {
  width: 35%;
  padding-left: 10px;
  outline: none;
  text-align: center;
  letter-spacing: 2px;
  color: #999999;
  font-family: 'Josefin Sans';
  font-weight: 300;
  transition: ease-in-out, width .35s ease-in-out; }

.form__btn {
  background-color: #5474fd;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  border: none;
  width: 6%;
  font-size: 0.9vw;
  cursor: pointer; }

.form__btn::before {
  margin-right: 5px;
  color: white; }

.form__btn--search::before {
  position: absolute;
  font-size: 2vw;
  top: 14px;
  right: 10px; }

@media screen and (min-width: 360px) and (max-width: 1024px) {
  .form__btn {
    width: 20%;
    font-size: 1.8vw; }

  .form__input {
    width: 50%;
    font-size: 2.2vw; } }
@media screen and (min-width: 360px) and (max-width: 1024px) {
  .form__btn:before {
    display: none; } }
.form__btn:hover {
  background-color: orange;
  transition: 1s; }

.header__scroll {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 26px;
  font-family: "Josefin Sans";
  color: #ffffff; }

.header__btn {
  width: 15px;
  background-color: transparent;
  border: none;
  color: #ffffff; }

.header__btn:hover {
  color: red;
  transition: 0.5s; }

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 100%;
  background-color: #5474fd; }

.nav__conteiner {
  margin: 0 auto;
  height: 100%;
  align-items: center; }

.nav__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 50%;
  font-size: 2.5vw;
  letter-spacing: 2px;
  color: #ffffff;
  font-family: "Josefin Sans";
  font-weight: 700;
  margin-left: 20px; }

.nav__links {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; }

.nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff; }

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .nav__links {
    display: none; } }
.mystyle {
  display: none; }

.menu__items {
  display: flex;
  align-items: center;
  text-align: left;
  width: auto;
  height: 2.5vh; }

.menu__link {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 26px;
  font-family: "Aleo', serif";
  font-weight: 400;
  text-transform: uppercase;
  margin: 0px 10px; }

@media screen and (max-width: 900px) {
  .menu__link {
    line-height: 15px;
    text-align: center; }

  .menu__items {
    height: 4vh; } }
.menu__link:hover {
  color: red;
  border-top: 1px solid red;
  transition: 1s; }

.places {
  background-image: url("./img/Rectangle1.png");
  height: 685px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 0;
  display: flex; }

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .places {
    height: 340px; } }
.places__conteiner {
  display: flex;
  flex-wrap: wrap;
  max-width: 1110px;
  margin: 0 auto;
  height: 100%;
  padding: 0px 20px 0px 20px; }

.places__content {
  position: relative;
  text-align: left;
  width: 50%;
  margin-top: 208px; }

@media screen and (max-width: 900px) {
  .places__content {
    margin-top: 20px; } }
.places__title {
  height: auto;
  font-size: 36px;
  line-height: 26px;
  font-family: "Aleo', serif";
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 60px; }

.places__text1 {
  height: auto;
  font-size: 16px;
  letter-spacing: 1.2px;
  line-height: 26px;
  font-family: "Josefin Sans";
  color: #ffffff;
  font-weight: 100;
  margin-bottom: 28px; }

.places__text2 {
  height: auto;
  font-size: 16px;
  letter-spacing: 1.2px;
  line-height: 26px;
  font-family: "Josefin Sans";
  color: #ffffff;
  font-weight: 100;
  margin-bottom: 40px; }

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .places__text2 {
    margin-bottom: 10px; }

  .places__title {
    margin-bottom: 30px; } }
.places__btn {
  background-color: #5474fd;
  text-align: center;
  font-weight: 400;
  color: #ffffff;
  border: none;
  height: 60px;
  width: 224px;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 26px;
  font-family: "Aleo', serif";
  text-transform: uppercase;
  transition: all linear 0.5s; }

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .places__btn {
    height: 30px;
    width: 112px;
    font-size: 8px; } }
.places__btn:hover {
  background-color: orange;
  text-decoration: none; }

.places__galary {
  position: relative;
  width: 50%;
  margin-top: 120px; }

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .places__galary {
    display: none; } }
@media screen and (min-device-width: 480px) and (max-device-width: 540px) {
  .places__galary {
    display: none; }

  .places__content {
    width: 100%; } }
.places__foto1 {
  position: absolute;
  width: 350px;
  height: 220px;
  left: 80px; }

.places__foto2 {
  position: absolute;
  width: 350px;
  height: 220px;
  top: 225px;
  left: 160px; }

@media screen and (max-width: 900px) {
  .places__foto1, .places__foto2 {
    left: 10px; } }
@media screen and (max-width: 460px) {
  .places__foto1, .places__foto2 {
    visibility: hidden; }

  .places__content {
    width: 100%;
    text-align: center; } }
.icon {
  background-color: #333333;
  height: 335px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 0;
  padding: 0px 15px; }

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .icon {
    height: 200px; } }
@media screen and (min-device-width: 480px) and (max-device-width: 768px) {
  .icon {
    height: 200px; } }
.icon__conteiner {
  max-width: 1110px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between; }

.icon__box1 {
  display: block;
  width: 30%;
  font-size: 36px;
  text-align: center; }

.search__icon {
  color: #5474fd;
  font-size: 60px;
  height: auto;
  margin-top: 100px;
  margin-bottom: 32px; }

.arrow-circle__icon {
  color: #ff6363;
  font-size: 60px;
  height: auto;
  margin-top: 100px;
  margin-bottom: 32px; }

.thumb-up__icon {
  color: #127bb7;
  font-size: 60px;
  height: auto;
  margin-top: 100px;
  margin-bottom: 32px; }

.icon__text {
  height: auto;
  font-size: 36px;
  line-height: 26px;
  font-family: "Aleo', serif";
  color: #ffffff;
  font-weight: 400;
  text-align: center; }

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .search__icon, .arrow-circle__icon, .thumb-up__icon {
    font-size: 30px; }

  .icon__text {
    font-size: 13px; } }
@media screen and (min-device-width: 480px) and (max-device-width: 768px) {
  .search__icon, .arrow-circle__icon, .thumb-up__icon {
    font-size: 30px; }

  .icon__text {
    font-size: 23px; } }
@media screen and (min-device-width: 822px) {
  .search__icon, .arrow-circle__icon, .thumb-up__icon {
    font-size: 30px; }

  .icon__text {
    font-size: 23px; } }
.spain1 {
  background-image: url("./img/Rectangle2.png");
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 0; }

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .spain1 {
    height: 370px; } }
@media screen and (min-device-width: 480px) and (max-device-width: 768px) {
  .spain1 {
    height: 390px;
    padding-top: 20px; } }
.spain__conteiner1 {
  max-width: 1110px;
  max-height: 350vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .spain__conteiner1 {
    height: 85%; } }
.spain__content {
  height: 370px;
  max-width: 540px;
  background-color: #232323;
  opacity: 0.9;
  margin-top: 230px; }

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .spain__content {
    margin-top: 0px;
    margin-bottom: 40px; } }
@media screen and (max-width: 768px) {
  .spain__content {
    margin-top: 0px; } }
.spain__name {
  margin-top: 50px;
  margin-left: 30px;
  height: auto;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 26px;
  font-family: "Josefin Sans";
  color: #ffffff;
  font-weight: 100; }

@media screen and (max-width: 900px) {
  .spain__name {
    margin-top: 10px; } }
.spain__title {
  margin-top: 24px;
  margin-left: 30px;
  height: auto;
  width: auto;
  font-size: 20px;
  line-height: 26px;
  font-family: "Josefin Sans";
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 100; }

.spain__text {
  margin-top: 18px;
  margin-left: 30px;
  height: auto;
  width: auto;
  height: 65px;
  font-size: 16px;
  line-height: 26px;
  font-family: "Josefin Sans";
  color: #ffffff;
  font-weight: 100; }

.places__btn--spain {
  margin-top: 52px;
  margin-left: 30px; }

@media screen and (max-width: 900px) {
  .spain__name {
    margin-top: 10px; }

  .spain__text {
    margin-bottom: 20px; } }
.spain2 {
  background-image: url("./img/Rectangle3.png");
  height: 700px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 0; }

@media screen and (max-width: 900px) {
  .spain2 {
    height: 370px; } }
.spain__conteiner2 {
  max-width: 1110px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end; }

@media screen and (max-width: 900px) {
  .spain__conteiner2 {
    height: 100%; } }
.spain2__content {
  height: 370px;
  width: 540px;
  background-color: #232323;
  opacity: 0.9;
  align-self: flex-end;
  margin-bottom: 100px;
  top: 230px;
  left: 570px; }

.review {
  background-image: url("./img/Rectangle5.png");
  height: 730px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 0; }

.review__title {
  display: inline-block;
  top: 100px;
  height: auto;
  font-size: 36px;
  line-height: 26px;
  font-family: "Aleo', serif";
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  margin-top: 127px;
  margin-bottom: 98px;
  width: 100%; }

@media screen and (max-width: 1125px) {
  .review__title {
    margin-top: 30px;
    margin-bottom: 30px; } }
.review__conteiner {
  max-width: 1110px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }

.review__foto {
  width: 445px;
  height: 285px; }

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .review__foto {
    width: calc(445px/2);
    height: calc(285px/2);
    margin: 0 auto; } }
.review__content {
  display: flex;
  flex-wrap: wrap;
  max-width: 665px;
  min-height: 285px;
  text-align: justify;
  background-color: #333333; }

.review__fotoTitle {
  height: auto;
  width: auto;
  font-size: 26px;
  line-height: 26px;
  font-family: "Aleo', serif";
  color: #ffffff;
  font-weight: 400;
  text-align: left;
  margin-bottom: 35px;
  padding-left: 55px;
  padding-top: 45px; }

.review__fotoText {
  max-width: 550px;
  height: auto;
  font-size: 16px;
  line-height: 26px;
  font-family: "Aleo', serif";
  color: #ffffff;
  padding-left: 55px; }

@media screen and (max-width: 900px) {
  .review__content {
    width: 445px;
    align-items: center; }

  .review__fotoText {
    padding: 0px 25px 0px 25px; } }
.footer {
  max-height: 270px;
  width: 100%;
  background-color: #232323;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.footer__conteiner {
  max-width: 1110px;
  margin: 0 auto;
  height: 100%;
  margin: 45px 0px 25px 0px;
  text-transform: uppercase; }

.footer__title {
  font-size: 24px;
  letter-spacing: 3px;
  line-height: 26px;
  font-family: "Josefin Sans";
  color: #ffffff;
  font-weight: 700;
  height: auto;
  margin-bottom: 10px; }

.footer__author {
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 26px;
  font-family: "Josefin Sans";
  color: #ffffff;
  height: auto;
  margin-bottom: 20px; }

.footer__icons {
  display: flex;
  justify-content: space-between;
  width: 200px;
  height: auto;
  margin: 0 auto; }

.footer__link {
  color: white;
  text-decoration: none; }

.footer__link:hover {
  color: #2352B8; }

/*# sourceMappingURL=style.css.map */
